{% load i18n %}{% autoescape off %}
{% blocktrans %}Hello {% endblocktrans %}

{% blocktrans %}
We received a password reset request for your account at Qatra.
Please click the link below to reset your password:
{% endblocktrans %}

{% block reset_link %}
{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% comment %} {% block reset_link %}
<a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">{% trans 'Reset Password' %}</a>
{% endblock %} {% endcomment %}

{% blocktrans %}
If you didn't request a password reset, please ignore this Link.
{% endblocktrans %}

{% endautoescape %}