@import './resets';
@import './globel';
//============================= Start Scroll Up Btn ==================================//
.fa-arrow-up{
    position: fixed;
    bottom: 20px;
    right: -40px;
    background: var(--brown);
    color: white;
    padding: 8px;
    border-radius: 30%;
    transition: 0.3s;
    cursor: pointer;
    font-size: 25px;
    z-index: 999;
}
.fa-arrow-up.show{
    right: 20px;
}
//============================= Start Home ==================================//
.carousel{
    .carousel-inner{
        .carousel-item{
            img{
                height: 100vh;
                background: no-repeat scroll center scroll;
                background-position: center;
                background-size: cover;
            }
            &::before{
                content: "";
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                background: #000;
                opacity: 0.7;                
            }
            .carousel-caption{
                position: absolute;
                right: 15%;
                top: 40%;
                left: 15%;
                text-align: center; 
                h3{
                    color: #fff;
                    font-size: 35px;
                    font-weight: 600;   
                    opacity: 0;
                    animation: fadeInRight 0.7s ease forwards;
                }         
                p{
                    color: #fff;
                    opacity: 0;
                    animation: fadeInLeft 0.7s ease forwards;
                }
            }
        }
    }
}
//============================= Start Media  ====================================//
@media (max-width:767px){
    .carousel{
        .carousel-item{
        img{
            height: 45vh;
        }
        .carousel-caption{
            h3{
                font-size: 26px;
                padding-bottom: 20px;
            }
            p{
                font-size: 12px;
            }
        }
    }
}
}
@media (max-width:991px){
    .carousel{
        .carousel-item{
        img{
            height: 45vh;
        }
        .carousel-caption{
            h3{
                font-size: 26px;
                padding-bottom: 20px;
            }
            p{
                font-size: 12px;
            }
        }
    }
    }
}
//============================= End Media  ====================================//
//============================= Start section donation ====================================//
.donation{
    margin: 115px 0px 50px 0px;
    position: relative;
    .content{
        position: relative;
        transform: translateY(65px);
        p{
            width: 524px;
            height: 100px;
            margin-top: 20px;
            margin-bottom: 0;
            color: var(--dark);
        }
        .carton{
            img{
                width: 145px;
                top: -35px;
                position: absolute;
                transform: inherit;
                opacity: 0.7;
                right: -120px;
            }
        }
        .submit_btn{
            a{
                color: var(--dark);
                &:active,
                &:focus{
                    color: var(--dark);
                }
            }
        }
    }
    .video{
        position: relative;
        video{
            border-radius: 40px;
        }
    }
}
//============================= End section donation====================================//
//============================= Start Media donation ====================================//
@media (max-width:$mobile){
    .donation{
        height: 45vh;
        margin: 50px 0;
        .content{
            margin-bottom: 90px;
            padding-right: 25px;
            h3{
                font-size: 26px;
                padding: 15px 0;
                line-height: 0;
            }
            p{
                max-width: 460px;
                margin-top: 20px;   
            }
            button{
                margin-top: 15px;
            }
            .carton{
                img{
                    display: block;
                    opacity: 1;
                    top: 40px;
                    right: 340px;
                }
            }
        }
    }
}
@media (max-width:$iPad){
    .donation{
        height: 25vh;
        .content{
            transform: translateY(0);
            h3{
                font-size: 26px;
                padding-bottom: 23px;
            }
            p{
                max-width: 350px;
                margin-top: 20px;
                margin-bottom: 0;
            }
            button{
                margin-top: 15px;
            }
            .carton{
                img{
                    display: block;
                    top: -42px;
                    right: 115px;
                    width: 120px;
                }
            }
        }
    }
}
//============================= End Media donation ====================================//
//============================= Start donation prosess ==================================//
.donation__prosess{
    position: relative;
    background: url("../images/dots.webp") , no-repeat ;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 50px auto;
    top: 0;
    .header{
        text-align: center;
    }
    .prosess_boxs{
        margin-right: 120px;
        .prosess_box{
            .process-step{
                .number{
                    font-size: 80px;
                    font-weight: 900;
                    color: #5c5c74;
                    opacity: .5;
                }
            }
            .process-info{
                text-align: start;
                margin-top: 35px;
                padding-right: 15px;
                .title{
                    font-size: 20px;
                    color: var(--pink);
                }
                p{
                    width: 370px;
                    color: var(--dark);
                    font-size: 14px;
                }
            }
        }
    }
}
//============================= End donation prosess====================================//
//============================= Start Media donation proses==============================//
@media (max-width:767px){
    .donation__prosess{
        top: 425px;
        .header{
            font-size: 30px;
        }
        .prosess_boxs{
            margin-right: 0;
            .prosess_box{
                .process-info{
                    .process-step{
                        .number{
                            font-size: 65px;
                        }
                    }
                    .title{
                        font-size: 18px;
                        padding-bottom: 10px;
                    }
                    p{
                        width: 370px;
                        max-width: 290px;
                    }
                }
        }
    }
    }
}
//============================= End Media donation prosess====================================//
//============================= Start section donation order==================================//
.donation__order{
    position: relative;
    .content{
        position: relative;
       transform: translateY(65px);
       p{
        max-width: 500px;
        color: var(--dark);
       }
       button{
        a{
            color: var(--dark);
            &:active,
            &:focus{
                color: var(--dark);
            }
        }
    }
    }
    .image{
        position: relative;
    }
}
//============================= End section donation order====================================//
//============================= Start Media donation order ====================================//
@media (max-width:$mobile){
  .donation__order{
    transform: translateY(450px);
    .header{
        font-size: 30px;
    }
    .content{
     padding-right: 15px;
    }
    .image{
     margin-top: 100px;
    }
  }
}
@media (max-width:$iPad){
  .donation__order{
    .header{
        font-size: 30px;
    }
     .content{
        transform: translateY(10px);
     }
   }
}
//============================= End Media donation order ====================================//
//============================= Start section donation location==================================//
.donation__location{
    position: relative;
    .image_location{
        height: 100%;
        position: relative;
        img{
            height: 400px;
            position: relative;
            top: -45px;
            animation: InfiniteTopAnimation 3s ease-in-out infinite;
        }
    }
    .content_location{
        position: relative;
        padding-top: 80px;
        h3{
            i{
                font-size: 28px;
            }
        }
        p{
            color: var(--dark);
        }
    }
}
@keyframes InfiniteTopAnimation {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}
//============================= End section donation location=================================//
//============================= Start Media donation location ====================================//
@media (max-width:767px){
    .donation__location{
        position: relative;
        transform: translateY(590px);
        .image_location{
            img{
                height: 345px;
                top: 0px;
            }
        }
        .content_location{
            padding-top: 0px;
            h3{
                font-size:22px;
                i{
                    font-size: 25px;
                }
            }
            p{
                font-size: 12px;
            }
        }
    }
    .location2{
        top: 200px;
    }
}
//============================= End Media donation location ====================================//
//============================= Start section donation time==================================//
.donation__time{
    position: relative;
    .donationTime_boxs{
    .content_time{
        margin-top: 80px;
        h3{
            i{
                font-size: 28px;
            }
        }
        p{
            color: var(--dark);
        }
    }
    .image_time{
        width: 50%;
        height: 100%;
        position: relative;
        img{
            height: 400px;
            position: relative;
            top: -45px;
            right: 70px;
            animation: InfiniteTopAnimation 3s ease-in-out infinite;
        }
    }
    }
}
//============================= End section donation time=================================//
//============================= Start Media donation time ====================================//
@media (max-width:$mobile){
    .donation__time{
        position: relative;
        top: 290px;
        transform: translateY(450px);
        .donationTime_boxs{
        flex-direction: column-reverse;
        .image_time{
            img{
                height: 260px;
                right: -55px;
            }
        }
        .content_time{
            margin-top: 0px;
            padding-top: 0;
            h3{
                font-size:25px;
                i{
                    font-size: 20px;
                }
            }
            p{
                font-size: 12px;
            }
        }
    }
}
}
//============================= End Media donation time ====================================//
//============================= Start section donation steps==================================//
.donation__steps{
    margin: 25px 0;
    display: flex;
    align-items: center;
    text-align: center;
    h3{
        margin:20px auto;
    }
    p{
        color: var(--dark);
        width: 290px;
    }
    .steps_box{
        position: relative;
        margin: 15px 0;
        p{
            margin-right: 10px;
        }
        &:nth-child(4){
            p{
                // max-width: 324.07px;
            }
        }
        .step_shape{
            position: relative;
            span{
                position: absolute;
                font-weight: 600;
                font-size: 50px;
                color: var(--white);
                transform: rotate(-4.13deg);
                z-index: 22;
                padding-right: 7px;
            }
            .img{
                position: absolute;
                width: 80px;
                transform: translate(-20px, 15px);
                z-index: 99;
            }
            .Ellipse{
                position: relative;
                z-index: 1;
            }
        }           
    }
}
//============================= End donation steps ====================================//
//============================= Start Media donation steps====================================//
@media (max-width:$mobile){
    .donation__steps{
        position: relative;
        top: 820px;
        .header{
            font-size: 30px;
        }
        .steps_box{
            &:nth-child(4){
                p{
                    max-width: 324.07px;
                    font-size: 14px;
                    transform: translateY(10px);
                }
            }
        
        }
    }
}
//============================= End donation steps  ====================================//
//============================= Start section donation information==================================//
.donation__information{
    .header{
        padding: 20px 0;
    }
        dl{
            dt{
                margin-top: 20px;  
                font-weight: 600;
                font-size: 24px;
                line-height: 20px;
                text-align: right;
                letter-spacing: 0.1px;
                color: var(--pink);
            }
            dd{
                max-width: 1083px;
                font-weight: 500;
                padding: 20px 0;
                font-size: 14px;
                line-height: 20px;
                text-align: right;
                letter-spacing: 0.1px;
                color: var(--dark);
            }
    }
}
//============================= End section donation information====================================//
//============================= Start Media donation information ====================================//
@media (max-width:$mobile){
    .donation__information{
    position: relative;
    top: 820px;

        .header{
            font-size: 30px;
        }
        dl{
            dt{
                font-size: 18px;  
            }
            dd{
                padding: 20px 40px;
            }
        }
    } 
}
@media (max-width:$iPad){
    .donation__information{
        .header{
            font-size: 30px;
        }
        dl{
            dt{
                font-size: 18px;  
            }
            dd{
                padding: 20px 40px;
            }
        }
    } 
}
//============================= End Media donation information ====================================//
//============================= Start footer====================================//
.footer{
    background-color: var(--brown);
    .footer__row{
        padding: 20px;
        h4{
            color: #fff;
            font-weight: 600;
            font-size: 25px;
            line-height: 20px;
            text-align: right;
            padding: 15px 0;
        }
        p{
            color: #fff;
            font-size: 14px;
            font-weight: 500;
            max-width: 950px;
        }
        h3{
            font-size: 25px;
            color: #fff;
        }
        ul{
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 15px 0;

            li{
                padding: 0 10px;
                i{
                    font-size: 25px;
                    color: #fff;
                }
            }
        }
        a{
            color: #fff;
            padding: 10px;
        }
        .conditions{
            border-left: 1px solid #fff;;

        }
    }
}
//============================= End footer ====================================//
//============================= start Media ====================================//
@media (max-width:$mobile){
    .footer{
        position: relative;
        bottom: -815px;
        p{
            font-size: 12px;
            font-weight: 500;
        }
    }
}
//============================= End Media ====================================//
//============================= start Animations ====================================//
@keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-30px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}
@-webkit-keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-30px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}
@keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(30px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}
@-webkit-keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(30px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}
@keyframes fadeInTop {
    0% {
      opacity: 0;
      transform: translateY(-30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}
@-webkit-keyframes fadeInTop {
    0% {
      opacity: 0;
      transform: translateY(-30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}
//============================= End Animations ====================================//
//============================= End Home ====================================//