@import url('./_globel.scss');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    direction: rtl;
    font-family: 'Tajawal', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}
::selection{
    background: var(--pink);
    color: var(--white);
}
body{
    transition: 0.3s ease-in-out;
}
a{
    text-decoration: none;
}
.submit_btn{
    width: 130px;
    height: 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    background:none;
    color: var(--pink);
    border: 1px solid var(--pink);
    border-radius: 30px;
    letter-spacing: 0.1px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background: var(--pink);
        z-index: -1;
        transition: all 0.3s ease-in-out;
    }
    &:hover::before{
        width: 100%;
        color: var(--white);
        border: 1px solid var(--pink);
        
    }
}
.btn:hover{
    color: var(--white);
}
.header{
    color: var(--pink);
    font-size: 30px;
    font-weight: 600;
    display: block;
    width: fit-content;
    border-bottom: 1px solid var(--pink);
    padding-bottom: 10px;
}
.paragraph{
    font-size: 14px;
}
.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s ease-in-out;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}