{% load socialaccount %}
{% providers_media_js %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--=========================== Icon Browser =================================-->
    <link rel="shortcut icon" type="x-icon" href="{% static 'images/logo.png'%}">
    <!--=========================== font-awesome File ============================-->
    <link rel="stylesheet" href="{% static 'css/all.min.css'%}">
    <!--=========================== Bootstrap File ===============================-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
    <!--=========================== Font Google ===============================-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap" rel="stylesheet">
    <!--=========================== Css File =====================================-->
    <link rel="stylesheet" href="{% static 'sass/Master.css'%}">
    <title>قطرة</title>
        <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GVY1D02FCZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-GVY1D02FCZ');
</script>
</head>
<body>
    <div class="forget-box4 d-flex justify-content-center align-items-center" id="forget-box4">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 logo">
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 sign-form">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <h3>نسيت كلمة السر ؟</h3>
                        <p>
                         تم ارسال الرابط إلي بريدك الالكتروني:
                        </p>
                        <div class="text-center col-sm-12 user-box">
                            <img src="{% static 'images/alert.png' %}">
                        </div>
                        <div class="btn-box">
                            <button class="btn submit_btn" type="submit"><a href ='https://mail.google.com/' >الذهاب الي جيميل</button>  
                        </div>  
                      </form>
                </div>
            </div>
        </div>
    </div>


    
    <!---=========================== Jquery File =====================================--->
    <script src="{% static 'js/jquery-3.6.3.min.js"></script>
    <!--=========================== Bootstrap File =====================================-->
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <!--=========================== Js File =====================================-->
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="{% static 'js/script.js '%}"></script>
</body>
</html>