{% load socialaccount %}
{% providers_media_js %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--=========================== Icon Browser =================================-->
    <link rel="shortcut icon" type="x-icon" href="{% static 'images/logo.png' %}">
    <!--=========================== font-awesome File ============================-->
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <!--=========================== Bootstrap File ===============================-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!--=========================== Font Google ===============================-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap" rel="stylesheet">
    <!--=========================== Css File =====================================-->
    <link rel="stylesheet" href="{% static 'sass/Master.css' %}">
    <title>قطرة</title>
</head>
<body class="blur-background">
    <!---=========================== Scroll Up Btn =====================================--->
    <i class="fa-solid fa-arrow-up scrollBtn show"></i>
    <!---=========================== Start Navbar =====================================--->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/logo.png' %}">
            <p>قطرة</p>
          </a>
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i  class="fa-solid fa-bars"></i>
        </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <il class="navbar_item">
                    <a href="#carouselExampleCaptions" class="navbar__link">الرئيسية</a>
                </il>
                <il class="navbar_item">
                    <a href="#donation" class="navbar__link">اريد التبرع </a>
                </il>
                <il class="navbar_item">
                    <a href="#donation__prosess" class="navbar__link">طلب متبرع</a>
                </il>
                <il class="navbar_item">
                    <a href="#donation__steps" class="navbar__link">خطوات التبرع</a>
                </il>
                <il class="navbar_item">
                    <a href="#donation__information" class="navbar__link">معلومات </a>
                </il>
                <il class="navbar_item">
                    <a href="#who__us" class="navbar__link">من نحن </a>
                </il>
            </ul>

                        <!-- يعد تسجيل الدخول -->
                        {% if user.is_authenticated %}
                            <form class="submit_btm me-auto">
                                <a class="notifications" href="{% url 'notification'%}">
                                    <i class="fa-regular fa-bell "></i>
                                </a>
                                <a class="nav-profile" href="{% url 'profile' %}" target="_blank">
                                    <img  src="{% static 'images/profile_nav.png' %}">
                                </a>
                                <a class="log-Out" href="{% url 'logout' %}" target="_self">
                                    <i class="fa-solid fa-right-to-bracket"></i>
                                </a>
                            </form> 
                        {% else %}
                        <!-- قبل تسجيل الدخول -->
                        <form class="submit_btm me-auto">
                            <a href="{% url 'login' %}" >
                                 <button type="button" id="submit_btn" class="btn submit_btn">
                                    تسجيل الدخول
                                 </button>
                           </a>
                        </form>
                    {% endif %}
          </div>
        </div>
    </nav>
    <!---=========================== End Navbar =====================================--->
    <!---=========================== Start Home =====================================--->
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-interval="50000"data-bs-ride="carousel">
        <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
        <!------------------------Image One  ------------------------>
        <div class="carousel-item active">
            <img src="{% static 'images/bg-1.jpg' %}" class="d-block w-100">
            <div class="carousel-caption d-md-block d-sm-block">
            <h3>ما هي قطرة ؟</h3>
            <p>هو موقع يهدف الى تعزيز الوعي حول التبرع بـالدم , وتشجيع المتبرعين على التبرع بـشكل منتظم وامن .</p>
            </div>
        </div>
            <!------------------------Image Two  ------------------------>
        <div class="carousel-item">
            <img src="{% static 'images/bg-2.jpg' %}" class="d-block w-100">
            <div class="carousel-caption d-md-block d-sm-block">
            <h3>ما هي فوائد التبرع بالدم ؟</h5>
            <p>من اهم فوائد التبرع بالدم هو المساهمه في انقاذ اكبر عدد من الاشخاص  وتحسين صحة المتبرع بحيث يقلل من خطر الاصابة بـامراض القلب والاوعية الدموية .</p>
            </div>
        </div>
            <!------------------------Image Three  ------------------------>
    
        <div class="carousel-item">
            <img src="{% static 'images/bg-3.jpg' %}" class="d-block w-100">
            <div class="carousel-caption d-md-block d-sm-block">
            <h3>ما هو هدفنا الانساني ؟</h3>
            <p>هو التوعية اللازمة للـمجتمع بـأهمية التبرع بـالدم وتشجيع الناس على المشاركة في انقاذ الارواح بحيث يمثل التبرع بـالدم رمزاً للـتضامن والانسانية , والمساهمه في تحسين الحالة الصحية للـمجتمع</p>
            </div>
        </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!---=========================== End Home =====================================--->
    <!---=========================== Start donation ===============================--->
    <section class="donation " id="donation">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 content">
                    <h3 class="header">اريد التبرع </h3>
                    <p class="paragraph">
                        يمكنك التبرع بدم من خلال قطرة ,عن طريق الضغط على زر  (تبرع) ,
                        و ملئ  استمارة الخاصه بتبرع ,
                        وسوف نرسل لك اقرب مستشفى بحاجه اليك   و يمكنك التبرع بدم من خلال قطرة 
                        ,عن طريق الضغط على زر  (تبرع) ,و ملئ  استمارة الخاصه بتبرع ,
                        وسوف نرسل لك اقرب مستشفى بحاجه اليك   
                    </p>
                    <div class="carton">
                        <img src="{% static 'images/carton.png' %}" alt="">
                    </div> 
                  <a href="{% url 'donate1' %}">
                        <button class="submit_btn" type="submit">
                            اريد التبرع
                        </button>
                     </a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 video">
                    <video src="{% static 'video/قطرة ‑ Made with FlexClip (1).mp4' %}" loop autoplay muted width="100%" height="100%' %}"></video>
                </div>
            </div>
        </div>
    </section>
    <!---=========================== End donation =====================================--->
    <!---=========================== start donation prosess============================--->
    <section class="donation__prosess my-5" id="#donation__prosess">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <h3 class="header text-center m-auto">فوائد تبرعك بدم !</h3>
                    <div class="container ss">
                        <div class="row prosess_boxs">
    <!---=========================== 1 box============================--->
                            <div class="prosess_box col-lg-5 col-md-5 col-sm-12 d-flex justify-content-center align-items-center">
                                <span class="process-step">
                                    <span> 1. </span>
                                </span>
                                <div class="process-info">
                                    <h4 class="title">
                                        <i class="fa-solid fa-user-doctor"></i>
                                        اكتشاف الامراض الخطيرة
                                    </h4>
                                    <p>
                                        وسيخضع الدم الذي تبرعت به للفحص بغرض الكشف عن الأمراض التي تنتقل عبر الدم، مثل التهاب الكبد، وفيروس نقص المناعة البشري.
                                    </p>
                                </div>
                            </div>
    <!-=========================== 2 box============================->  
                            <div class="prosess_box col-lg-5 col-md-5 col-sm-12 d-flex justify-content-center align-items-center">
                                <span class="process-step">
                                    <span> 2. </span>
                                </span>
                                <div class="process-info">
                                    <h4 class="title">
                                        <i class="fa-solid fa-bed-pulse"></i>
                                       الوقاية من الاصابة بأمراض القلب
                                    </h4>
                                    <p>
                                        التبرع بالدم يساعد علي تقليل نسبة الحديد في الدم لأنه يعتبر أحد أسباب الإصابة بأمراض القلب وانسداد الشرايين. اثبتت الدراسات أن الذين يتبرعون بدمهم مرة واحدة على الأقل كل سنة هم أقل عرضة للإصابة 
                                    </p>
                                </div>
                            </div>
    <!---=========================== 3 box============================--->  
                            <div class="prosess_box col-lg-5 col-md-5 col-sm-12 d-flex justify-content-center align-items-center">
                                <span class="process-step">
                                    <span> 3. </span>
                                </span>
                                <div class="process-info">
                                    <h4 class="title">
                                        <i class="fa-solid fa-droplet"></i>
                                        تجديد كرات الدم الحمراء
                                    </h4>
                                    <p>
                                        في كل زيارة للتبرع بالدم، يمكنك التبرع بنحو نصف لتر من الدم. يؤدي فقدان الدم إلى بدء العظام في عملية التجديد. تعود البلازما في الدم خلال 24 ساعة، ولكن الأمر يستغرق من 4 إلى 6 أسابيع لإعادة خلايا الدم الحمراء. ويبلغ متوسط دورة حياة خلايا الدم الحمراء حوالي 115 يوما
                                    </p>
                                </div>
                            </div>
    <!---=========================== 4 box============================--->  
                            <div class="prosess_box col-lg-5 col-md-5 col-sm-12 d-flex justify-content-center align-items-center">
                                <span class="process-step">
                                    <span> 4. </span>
                                </span>
                                <div class="process-info">
                                    <h4 class="title">
                                        <i class="fa-solid fa-heart-pulse"></i>
                                        تحسين تدفق الدم
                                    </h4>
                                    <p>
                                        عند التبرع بالدم ينخفض حجم الدم. وتتجدد البلازما في 24 ساعة وتضاف السوائل مرة أخرى إلى الدم بدون اللزوجة التي تسببها خلايا الدم الحمراء. وبمرور الوقت، تتجدد خلايا الدم الحمراء، وإذا استمر الجسم في تحمل هذه الضغوط نفسها، فإنه سيعود إلى حالة الثخانة والبطء .
                                    </p>
                                </div>
                            </div>
    <!---=========================== 5 box============================--->  
                            <div class="prosess_box col-lg-5 col-md-5 col-sm-12 d-flex justify-content-center align-items-center">
                                <span class="process-step">
                                    <span> 5. </span>
                                </span>
                                <div class="process-info">
                                    <h4 class="title">
                                        <i class="fa-solid fa-heart-pulse"></i>
                                        تقليل مخزون الحديد
                                    </h4>
                                    <p>
                                        التبرع بالدم يساعد علي تقليل نسبة الحديد في الدم لأنه يعتبر أحد أسباب الإصابة بأمراض القلب وانسداد الشرايين. اثبتت الدراسات أن الذين يتبرعون بدمهم مرة واحدة على الأقل كل سنة هم أقل عرضة للإصابة بأمراض الدورة الدموية وسرطان الدم .
                                    </p>
                                </div>
                            </div>
    <!---=========================== 6 box============================--->  
                            <div class="prosess_box col-lg-5 col-md-5 col-sm-12 d-flex justify-content-center align-items-center">
                                <span class="process-step">
                                    <span> 6. </span>
                                </span>
                                <div class="process-info">
                                    <h4 class="title">
                                        <i class="fa-solid fa-heart-pulse"></i> تقليل مخاطر الاصابه بالسلطان
                                    </h4>
                                    <p>
                                        التبرع بالدم يساعد علي تقليل مخاطر الاصابه بالسلطان. اثبتت الدراسات أن الذين يتبرعون بدمهم مرة واحدة على الأقل كل سنة هم أقل عرضة للإصابة بسرطان الدم.
                                    </p>
                                </div>
                            </div>
    <!---=========================== 7 box============================--->  
                            <div class="prosess_box col-lg-5 col-md-5 col-sm-12 d-flex justify-content-center align-items-center">
                                <span class="process-step">
                                    <span> 7. </span>
                                </span>
                                <div class="process-info">
                                    <h4 class="title">
                                        <i class="fa-solid fa-brain"></i>
                                        تقليل الاصابه بالسكتات الدماغيه.
                                    </h4>
                                    <p>
                                        التبرع بالدم يساعد علي تقليل الاصابه بالسكتات الدماغيه. وقال باحثون من الجمعية الطبية الأمريكية إن التبرع بالدم كل 6 أشهر يمكن أن يقلل من خطر الإصابة بالنوبات القلبية والسكتة الدماغية في سن 43 إلى 61 عامًا.

                                    </p>
                                </div>
                            </div>
    <!---=========================== 8 box============================--->  
                            <div class="prosess_box col-lg-5 col-md-5 col-sm-12 d-flex justify-content-center align-items-center">
                                <span class="process-step">
                                    <span> 8. </span>
                                </span>
                                <div class="process-info">
                                    <h4 class="title">
                                        <i class="fa-solid fa-person-running"></i>
                                        يجعل الجسم بصحة جيدة و اكثر فاعلية
                                    </h4>
                                    <p>
                                        التبرع بالدم يساعد علي زيادة نشاط جسم الانسان و تحسين تدفق الدم الي المخ. 
                                    </p>
                                </div>
                            </div>
    <!---=========================== 9 box============================--->  
                            <div class="prosess_box col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center align-items-center">
                                <span class="process-step">
                                    <span> 9. </span>
                                </span>
                                <div class="process-info">
                                    <h4 class="title">
                                        <i class="fa-regular fa-heart"></i>
                                        يعطي شعورا بالارتياح
                                    </h4>
                                    <p>
                                        التبرع بالدم يساعد علي زيادة نشاط جسم الانسان و تحسين تدفق الدم الي المخ. 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!---=========================== End donation prosess=====================================--->
    <!---=========================== start donation order===================================--->
    <section class="donation__order mt-5 mb-5 " id="donation__prosess">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 content">
                    <h3 class="header">طلب متبرع</h3>
                    <p class="paragraph">يمكنك التبرع بدم من خلال قطرة ,عن طريق الضغط على زر  (تبرع) ,
                        و ملئ  استمارة الخاصه بتبرع ,
                        وسوف نرسل لك اقرب مستشفى بحاجه اليك   و يمكنك التبرع بدم من خلال قطرة 
                        ,عن طريق الضغط على زر  (تبرع) ,و ملئ  استمارة الخاصه بتبرع ,
                        وسوف نرسل لك اقرب مستشفى بحاجه اليك   
                    </p>
                   <a href="{% url 'donate3' %}">
                        <button class="submit_btn" type="submit">
                            طلب متبرع
                        </button>
                    </a>   
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 image">
                    <img class="w-100 rounded-3" src="{% static 'images/iStock-1266746889.jpg' %}">
                </div>
            </div>
        </div>
    </section>
    <!---=========================== End donation order=====================================--->
    <!---=========================== start donation steps===================================--->
    <section class="donation__steps text-center " id="donation__steps">
        <div class="container">
            <div class="row">
                <h3 class="header">خطوات التبرع بالدم </h3>
                <div class="steps_box col-lg-12 col-md-12 col-sm-12 d-flex align-items-center justify-content-center">
                    <div class="step_shape">
                        <span>1</span>
                        <img class="img" src="{% static 'images/form 1.png' %}" alt="">
                        <img class="Ellipse" src="{% static 'images/Ellipse 1.png' %}" alt="">
                    </div>
                    <p>مرحله التسجيل وتعبئه استبيان </p>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 steps_box d-flex align-items-center justify-content-center">
                    <div class="step_shape">
                        <img class="img" src="{% static 'images/arm 1.png' %}" alt="">
                        <span>2</span>
                        <img class="Ellipse" src="{% static 'images/Ellipse 1.png' %}" alt="">

                    </div>
                    <p>مرحله اجراء المقابله الطبية</p>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 steps_box d-flex align-items-center justify-content-center">
                    <div class="step_shape">
                        <img class="img"  src="{% static 'images/blood-bag 1.png' %}" alt="">
                        <span>3</span>
                        <img class="Ellipse" src="{% static 'images/Ellipse 1.png' %}" alt="">
                    </div>
                    <p>الفحص السريري لتحديد الوزن , وقياس 
                        ضغط الدم ودرجه الحراره والنبض ونبسه الهيموجلبين
                    </p>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 steps_box d-flex align-items-center justify-content-center">
                    <div class="step_shape">
                        <img class="img"  src="{% static 'images/check-up 1.png' %}" alt="">
                        <span>4</span>
                        <img class="Ellipse" src="{% static 'images/Ellipse 1.png' %}" alt="">
                    </div>
                    <p>مرحله سحب الدم  </p>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 steps_box d-flex align-items-center justify-content-center">
                    <div class="step_shape">
                        <img class="img"  src="{% static 'images/blood-bank 1.png' %}" alt="">
                        <span>5</span>
                        <img class="Ellipse" src="{% static 'images/Ellipse 1.png' %}" alt="">
                    </div>
                    <p>مرحله الرعايه بعد التبرع </p>
                </div>
            </div>
        </div>
    </section>
    <!---=========================== End donation steps=====================================--->
    <!---=========================== start donation location=====================================--->
    <section class="donation__location d-flex align-items-center justify-content-center" id="donation__location">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 m-auto image_location">
                    <img src="{% static 'images/localisation.svg' %}">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 content_location">
                    <h3 class="header">
                        <i class="fa-solid fa-magnifying-glass-location"></i>
                        البحث عن متبرعين في منطقتك</h3>
                    <p class="paragraph">
                        لا تضيع وقتك في البحث عن متبرعي الدم، فتطبيقنا يوفر لك هذه الخدمة بشكل سريع وبدون تكلفة . حيث يتضمن التطبيق نظامًا ذكيًا يمكنه العثور على أقرب متبرعي الدم في المنطقة. كما يتميز نظام التبرع بالدم لدينا بالكفاءة العالية، فهو يعمل بشكل آلي ويتم التعامل مع طلبات نقل الدم بكل سهولة وفعالية. لذلك، يمكنك الاعتماد على تطبيقنا في أي وقت تحتاج فيه إلى نقل الدم. 
                    </p> 
                </div>
            </div>
        </div>
    </section>
    <!---=========================== End donation location=====================================--->
    <!---=========================== start donation time=====================================--->
    <section class="donation__time d-flex align-items-center justify-content-center" id="donation__time">
        <div class="container">
            <div class="row donationTime_boxs">
                <div class="col-lg-6 col-md-6 col-sm-12 content_time">
                    <h3 class="header">
                        <i class="fa-regular fa-clock"></i>
                        الإجابة على حالات الطوارئ.
                    </h3>
                    <p class="paragraph">
                        فور رفع طلب جديد لنقل الدم، يتم توجيهه بين متبرعي الدم المتطوعين في المنطقة المحلية.  و نحن نعلم أن الوقت مهم ! لذلك، نحن نبقيك على اطلاع عبر إرسال إشعارات فورية مباشرة إليك عن طريق الرسائل النصية (SMS) أو عن طريق موقعنا.
                    </p> 
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 m-auto image_time">
                    <img src="{% static 'images/connect.svg' %}">
                </div>
            </div>
        </div>
    </section>
    <!---=========================== End donation time=====================================--->
    <!---=========================== start donation location=====================================--->
    <section class="donation__location d-flex align-items-center justify-content-center" id="donation__location">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 m-auto image_location">
                    <img src="{% static 'images/savelife.svg' %}">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 content_location">
                    <h3 class="header">
                        <i class="fa-solid fa-award"></i>
                        أنت بطل شخص ما.
                    </h3>
                    <p class="paragraph">
                        أنت بطل شخص ما. في غضون دقائق قليلة، يمكنك أن تصبح بطلاً لشخص غير معروف ولكن مهم بشكل كبير. إن إنقاذ حياة شيء نبيل يبدأ بسهولة شديدة. التبرع بالدم أو التبرع بالمال، كل شكل من أشكال المساهمة التي تقدمها مهم وثمين وأساسي في مهمتنا المشتركة لإنقاذ الأرواح.
                    </p> 
                </div>
            </div>
        </div>
    </section>
    <!---=========================== End donation location=====================================--->
    <!---=========================== start footer===================================--->
    <footer class="footer" id="who__us">
        <div class="container">
            <div class="row">
                <div class="footer__row col-lg-12 col-md-12 col-sm-12">
                    <h4>من نحن ؟؟</h4>
                    <p>نحن مجموعة من الشباب نسعى جاهدين لـتوفير الدم بـشكل مستمر وآمن على صحة المريض والمتبرع بحيث يعمل جميع افراد الفريق بـتعاون وتنسيق عالٍ لـتوفير تجربة استخدام مريحة ومفيدة للـمستخدمين . </p>
                </div>
                <div class="footer__row col-lg-12 col-md-12 col-sm-12 text-center">
                    <h3>تواصل معانا : </h3>
                    <ul>
                        <li><a href="#"><i class="fa-brands fa-facebook facebook"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-whatsapp whatsapp"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-linkedin linkedin"></i></a></li>
                    </ul>
                    <a class="conditions" href="#">الشروط و الاحكام</a>
                    <a href="#">سياسة الخصوصية</a>
                </div>
            </div>
        </div>
    </footer>
    <!---=========================== End footer=====================================--->
    <!---=========================== Jquery File =====================================--->
    <script src="{% static 'js/jquery-3.6.3.min.js' %}"></script>
    <!--=========================== Bootstrap File =====================================-->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!--=========================== Js File =====================================-->
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>