@import './resets';
@import './globel';
/////////////////////////////////////////////
.donation_reqest3{
    background:linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url("../images/bg-11.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    .sign-form{
        background-color: var(--white);
        width: 465px;
        height: 310px;
        padding: 25px;
        border-radius: 5px;
        h3{
            color: var(--pink);
            font-size: 30px;
            font-weight: 600;
            text-align: center;
        }
        img{
            width: 130px;
            height: 130px;
        }
        .user-box{
            position: relative;
            margin-bottom: 25px;
            .input-form{
                width: 100%;
                height: 48.99px;
                outline: none;
                border-radius: 3px;
                border: none;
                border: 2px solid var(--pink);
                margin-bottom: 15px;
                padding-right: 15px;
            }
            label{
                background: white;
                top: -30px;
                right: 5px;
                position: absolute;
                font-weight: 600;
            }
            a{
                color: var(--pink);
            }
        }
        .btn-box{
            .submit_btn{
                width: 100%;
                height: 50px;
                border-radius: 7px;
            }
        }
    }
}
//============================= Start Media  ====================================//
@media (max-width: 767px){
    .forget-box3{
        padding-right: 20px;
        .sign-form{
            transform: translateX(13px);
        }
    }
}
 //============================= End Media  ====================================//