@import './resets';
@import './globel';
/////////////////////////////////////////////
.forget-box4{
    background:linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url("../images/la.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    .sign-form{
        background-color: var(--white);
        width: 410px;
        height: 345px;
        padding: 25px;
        border-radius: 5px;
        transform: translateX(-170px);
        h3{
            color: var(--dark);
            font-size: 25px;
            font-weight: 600;
        }
        p{
            color: var(--dark);
            font-size: 14px;
            font-weight: 500;
            padding: 15px 0px;
            text-align: center;
        }
        .user-box{
            position: relative;
            margin-bottom: 25px;
            img{
                width: 100px;
                height: 100px;
            }
        }
        .btn-box{
            .submit_btn{
                width: 100%;
                height: 50px;
                border-radius: 7px;
            }
        }
    }
}
//============================= Start Media  ====================================//
@media (max-width: 767px){
    .forget-box4{
        padding-right: 20px;
        .sign-form{
            transform: translateX(13px);
        }
    }
}
 //============================= End Media  ====================================//