@import './resets';
@import './globel';
//============================= Start Navbar ====================================//
 .navbar{
    width: 100%;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 9999;
    background: var(--white);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    .navbar-brand{
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            color: var(--dark);
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            line-height: 20px;
        }
    }
    .navbar-toggler{
        color: var(--pink);
        font-size: 30px;
        font-weight: 300;
        border:1px solid var(--pink);
        padding-top: 6px;
        &:focus{
            box-shadow: none;
        }
    }
    .navbar-collapse{
        background-color: var(--white);
        .navbar-nav{
            .navbar_item{
                margin: 0px 20px;
                width: 90px;
                position: relative;
                &::after{
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 1px;
                    right: 0;
                    bottom: -10px;
                    transition: 0.3s;
                    background-color: var(--pink);
                }
                &:hover:after{
                    width: 100%;
                }
                .navbar__link{
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 20px;
                    color: var(--dark);
                    &:hover{
                        color: var(--pink);
                    }
                }
                .active{
                    color: var(--pink);
                    padding-bottom: 5px;
                }
            }
        }
        form{
            .notifications{
                i{
                    color: var(--pink);
                    font-size: 20px;
                }
            }
            .nav-profile{
                padding: 0 10px;
                img{
                    border-radius: 50%;
                    cursor: pointer;
                }
            }
            .log-Out{
                i{
                    color: var(--pink);
                    font-size: 20px;                
                }
            }
        }
    }
 }
//============================= End Navbar ====================================//
//============================= Start Media  ====================================//
@media (max-width:$iPad){
    .navbar{
        box-shadow: none;
        .container{
            padding: 0;
            .navbar-toggler{
                margin-left: 15px;
            }
            .navbar-collapse{
                padding: 0px;
                height: 70vh;
                margin-top: -11px;
                .navbar-nav{
                    .navbar_item{
                        margin: 30px auto;
                    }
                }
                form{
                    transform: translateX(-125px);
                }
            }
    }
}
}
 //============================= End Media  ====================================//