@import './resets';
@import './globel';
//============================= Start Navbar ====================================//

//=============================== End Navbar ====================================//
//============================= Start section ====================================//
.profile{
    margin: 180px 0 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .profile-data{
        h3{ 
            color: var(--pink);
            font-size: 40px;
            font-weight: 600;
        }
        .box{
            margin: 15px 0;
            display: flex;
            align-items: center;
            margin: 40px 0;
        
            i{
                color: var(--dark);
                padding: 0 7px;
            }
            label{
                width: 143px;
                height: 24px;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
            }
            input{ 
                width: 370px;
                height: 30px;
                border-radius: 4px;
                border: none;
                border: 0.5px solid var(--dark);
                margin-right: 10px;
                padding: 0 10px;
            }
            .save-changes{
                width: 150px;
                height: 50px;
            }
        }
    }
    .profile-photo{
        width: 418px;
        height: 427px;
        background: var(--white);
        box-shadow: 0px 0px 13.5197px 3.37991px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        padding: 35px 0px;
        img{
            width: 240px;
            height: 240px;
        }
        i{
            z-index: 999;
            position: relative;
            top: -205px;
            right: 83px;
            font-size: 25px;
            background: var(--dark);
            color: white;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        p{
            color: var(--dark);
            font-size: 18px;
            font-weight: 500;
            cursor: pointer;
        }
    }
}
//============================= End section ====================================//
//============================= Start Media  ====================================//
@media (max-width: 766px){
    .profile{
        margin: 155px 0;
        .profile-data{
            h3{ 
                font-size: 30px;
            }
        }
        .profile-photo{
        }
    }
}
@media (max-width:991px){
    .profile{
        margin: 155px 0;
        .profile-data{
            h3{ 
                font-size: 30px;
            }
        }
        .profile-photo{
        }
    }
}
 //============================= End Media  ====================================//